block sliders
    .sliders
        #calm.slider-row.pure-g
            .mood-value.mood-value-low.pure-u-1-5 Agitated
            .pure-u-3-5
                .slider#calm-slider
            .mood-value.mood-value-high.pure-u-1-5 Calm
        #sad.slider-row.pure-g
            .mood-value.mood-value-low.pure-u-1-5 Happy
            .pure-u-3-5
                .slider#sad-slider
            .mood-value.mood-value-high.pure-u-1-5 Sad
        #awake.slider-row.pure-g
            .mood-value.mood-value-low.pure-u-1-5 Tired
            .pure-u-3-5
                .slider#awake-slider
            .mood-value.mood-value-high.pure-u-1-5 Wide Awake
        #courage.slider-row.pure-g
            .mood-value.mood-value-low.pure-u-1-5 Scared
            .pure-u-3-5
                .slider#courage-slider
            .mood-value.mood-value-high.pure-u-1-5 Fearless
