extends layout

block content
  h1= title
  form(method="post", action="/films", enctype="multipart/form-data")
    input(type="text", name="name", placeholder="Enter name here.")
    input(type="number", name="calm")
    input(type="number", name="sad")
    input(type="number", name="awake")
    input(type="number", name="courage")
    input(type="file" name="file" accept="image/*")
    input(type="submit", value="add")
